<%# Include the header module (partial) %> 
<%- include('./partials/head.ejs') %> 

<main>
    <section class="intro">
        <h1>Start playing!</h1>
        <p>To share this room with your friends, copy the code below and share it!</p>
        <input type="text" value="<%= roomNum %>" placeholder="<%= roomNum %>" readonly>
    </section>

    <section class="create">
        <h2>Join the game:</h2>
        <p>To join the game, please enter your name:</p>
        <form action="<%= `/room/${roomNum}/play` %>" method="POST">
            <input type="text" name="username" id="username" autocomplete="off" placeholder="Enter your username..." required>
            <input type="submit" value="Join game!">
        </form>
    </section>
</main>

<%# Include the header module (partial) %> 
<%- include('./partials/footer.ejs') %> 